@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700;800;900&family=Caveat&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --margin: 60px;
}

.main {
  width: calc(100vw - var(--margin));
}

@media screen and (min-width: 1000px) {
  :root {
    --margin: 15vw;
  }

  .main {
    min-height: 80vh;
  }
}

body {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

h1 {
  @apply font-bold md:text-8xl text-5xl tracking-wider;
}

h2 {
  @apply font-bold md:text-5xl text-3xl tracking-wider;
}

h3 {
  @apply md:text-3xl text-xl font-bold tracking-wider;
}

h4 {
  @apply md:text-xl text-base font-semibold tracking-wide;
}

h5 {
  @apply md:text-base text-xs tracking-wide;
}

.button-primary {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 50%,
    rgba(0, 0, 0, 0) 50%
  );
  color: white;
  @apply border-white;
}

.button-purple {
  background: linear-gradient(
    to right,
    rgba(135, 103, 186, 1) 50%,
    rgba(0, 0, 0, 0) 50%
  );
  color: #8767ba;
  @apply border-purple2-dark;
}

.button-primary,
.button-purple {
  background-size: 200% 100%;
  background-position: right bottom;
  @apply md:text-xl text-center text-base font-semibold tracking-wide px-4 py-2 rounded-xl border transition-all duration-300 transform hover:scale-110 hover:rotate-2;
}

.button-primary:hover,
.button-purple:hover {
  color: inherit;
  background-position: left bottom;
}

.main-hover {
  @apply transition-all duration-300 opacity-80 hover:opacity-100;
}
